.centered {
  margin: 8px auto 8px auto;
  width: fit-content;
}

.header-icon, .header-name {
  vertical-align: middle;
}

.header-name {
  font-size: 2em;
  margin-left: 8px;
}

.heading {
  font-size: 1.5em;
}

.button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.button-icon {
  margin-right: 2px;
  vertical-align: bottom;
}

table.fancy, table.fancy th, table.fancy td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

table.fancy th, table.fancy td {
  padding: 3px;
}

table.fancy th {
  background-color: #707070;
  color: #ffffff;
}

.right {
  text-align: right;
}

.reply {
  margin-top: 16px;
  margin-bottom: 16px;
}

table.replyHeader, table.replyHeader th, table.replyHeader td {
  border-bottom: none;
}

table.replyHeader td {
  background-color: #e0e0e0;
}

.replyContent {
  border: 1px solid #000000;
  overflow-wrap: anywhere;
  padding: 3px;
  width: 768px;
}
