.centered {
  margin: 8px auto 8px auto;
  width: fit-content;
}

.header-icon, .header-name {
  vertical-align: middle;
}

.header-name {
  font-size: 2em;
  margin-left: 8px;
}

.heading {
  font-size: 1.5em;
}

.button {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.button-icon {
  margin-right: 2px;
  vertical-align: bottom;
}

table.fancy, table.fancy th, table.fancy td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

table.fancy th, table.fancy td {
  padding: 3px;
}

table.fancy th {
  background-color: #606060;
  color: #ffffff;
}

.right {
  text-align: right;
}
