<div class="centered heading">Change role of "%%displayName%%"</div>
<form method="post">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Role:</td>
          <td>
            <select name="role">
              <option value="0" @@selected0@@>User</option>
              <option value="1" @@selected1@@>Moderator</option>
              <option value="2" @@selected2@@>Administrator</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered"><input type="submit" value="Change role"></div>
</form>
