<div class="centered heading">Change password</div>
<form method="post">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Old password:</td>
          <td><input type="password" name="oldPassword"></td>
        </tr>
        <tr>
          <td class="right">New password:</td>
          <td><input type="password" name="newPassword"></td>
        </tr>
        <tr>
          <td class="right">Confirm new password:</td>
          <td><input type="password" name="confirmNewPassword"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered">
    <input type="submit" value="Change password">
  </div>
</form>
