<div class="centered heading">Create thread on "%%name%%"</div>
<form method="post">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Title:</td>
          <td><input type="text" name="title"></td>
        </tr>
        <tr>
          <td class="right">Content:</td>
          <td><textarea style="width: 768px; height: 480px; font-family: serif" name="content"></textarea></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered">
    <input type="submit" value="Create thread">
  </div>
</form>
