<div class="centered heading">Log in</div>
<form method="POST">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Username:</td>
          <td><input type="text" name="username"></td>
        </tr>
        <tr>
          <td class="right">Password:</td>
          <td><input type="password" name="password"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered">
    <input type="submit" value="Log in">
  </div>
</form>
<div class="centered">
  <div class="button"><a href="/forgot-password"><img class="button-icon" width="22" height="22" src="/static/help-browser.png">Forgot password</a></div>
</div>
