<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/icon-16x16.png">
    <title>%%pageName%% | %%forumName%%</title>
  </head>
  <body>
    <div class="centered">
      <img class="header-icon" width="48" height="48" src="/static/icon-48x48.png"><span class="header-name">%%forumName%%</span>
    </div>
    <div class="centered">
      @@buttons@@
    </div>
    <hr>
    @@content@@
    <hr>
    <div class="centered">Powered by <a href="https://github.com/circl-lastname/rosal" target="_blank">Rosal</a></div>
  </body>
</html>
