<tr>
  <td>@@id@@</td>
  <td><input type="number" min="-100" max="100" name="@@id@@" value="@@displayOrder@@"></td>
  <td><a href="/board/@@id@@">%%name%%</a></td>
  <td>%%role%%</td>
  <td>
    <div class="button"><a href="/edit-board/@@id@@"><img class="button-icon" width="22" height="22" src="/static/accessories-text-editor.png">Edit</a></div><div class="button"><a href="/delete-board/@@id@@"><img class="button-icon" width="22" height="22" src="/static/user-trash.png">Delete</a></div>
  </td>
</tr>
