<div class="centered heading">Register</div>
<form method="POST">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Username:</td>
          <td><input type="text" name="username"></td>
        </tr>
        <tr>
          <td class="right">Email (used for support):</td>
          <td><input type="text" name="email"></td>
        </tr>
        <tr>
          <td class="right">Password:</td>
          <td><input type="password" name="password"></td>
        </tr>
        <tr>
          <td class="right">Confirm password:</td>
          <td><input type="password" name="confirmPassword"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered">
    <input type="submit" value="Register">
  </div>
</form>
