<div class="centered heading">Sign up</div>
<form method="post">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Username:</td>
          <td><input type="text" name="username" placeholder="Cannot be changed later"></td>
        </tr>
        <tr>
          <td class="right">Email:</td>
          <td><input type="text" name="email" placeholder="Only used for support"></td>
        </tr>
        <tr>
          <td class="right">Password:</td>
          <td><input type="password" name="password"></td>
        </tr>
        <tr>
          <td class="right">Confirm password:</td>
          <td><input type="password" name="confirmPassword"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered">
    <input type="submit" value="Sign up">
  </div>
</form>
