<div class="centered heading">User settings</div>
<div class="centered">
  <div class="button"><a href="/change-password"><img class="button-icon" width="22" height="22" src="/static/accessories-text-editor.png">Change password</a></div>
</div>
<form method="post">
  <div class="centered">
    <table>
      <tbody>
        <tr>
          <td class="right">Display name:</td>
          <td><input type="text" name="displayName" value="%%displayName%%"></td>
        </tr>
        <tr>
          <td class="right">Email:</td>
          <td><input type="email" name="email" value="%%email%%"></td>
        </tr>
        <tr>
          <td class="right" rowspan="2">Color:</td>
          <td><img style="display: block; margin-left: 10px; margin-right: 10px" width="360" height="24" src="/static/post-colors.png"></td>
        </tr>
        <tr>
          <td><input type="range" style="display: block; width: 376px" min="0" max="359" name="color" value="@@color@@"></td>
        </tr>
        <tr>
          <td class="right">Set color manually (degrees):</td>
          <td><input type="number" style="width: 172px" min="0" max="359" name="manualColor" placeholder="Leave blank for slider"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="centered">
    <input type="submit" value="Save">
  </div>
</form>
